.countryInfo{
    padding: 10px;
    border: 2px solid #014622;
    border-radius: 10px;
    margin-top: 50px;
}
.countryInfo button{
    padding: 5px 10px;
    background-color: #02124d;
    color: #fff;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
}